* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hue: 16;
  --bg-body: hsl(var(--hue), 0%, 0%);
  --fc-first: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 100%, 50%);
  --fonte-size-h1: 3.0rem;
}

body {
  width: 100%;
  background: var(--bg-body);
  color: var(--fc-first);

  font-size: 1.6rem;
  font-family: 'Epilogue', sans-serif;

  padding: 10.6rem 2.3rem;

  display: flex;
  justify-content: center;
}

.page {
  max-width: 31rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  animation: toDown 700ms forwards;
}

header p {
  color: var(--fc-secondary);
  margin-bottom: 1.7rem;

  line-height: 3.2rem; 
  letter-spacing: 3px;
}

header h1 {
  font-size: var(--fonte-size-h1);
  margin-bottom: 8rem;

  font-weight: 800;
  line-height: 4.8rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  animation: toTop 700ms forwards;
}

.card {
  position: relative;
}

.card img {
  height: 41.6rem;
  object-fit: cover;

  opacity: 0.5;
  transition: 500ms;

  box-shadow: 0px 3.3px 13.2px 0px rgba(255, 255, 255, 0.158);
}

.card img:hover {
  opacity: 1;
  transform: scale(104%);

  box-shadow: 0px 3.3px 13.2px 0px rgba(255, 255, 255, 0.301);
}

img {
  width: 100%;
  height: auto;

  border-radius: 6px;
}

.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
}

.card a {
  text-decoration: none;
}

.card h2 {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  color: var(--fc-first);
}

.card h2 span p {
  width: 8.4rem;
  height: 3.8rem; 

  border-radius: 1.9rem;
  background-color: var(--fc-secondary);

  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  color: var(--fc-first);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 3.3px 13.2px 0px rgba(255, 255, 255, 0.616);
}

@keyframes toDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toTop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  :root {
    --fonte-size-h1: 5.6rem;
  }

  body {
    padding: 10.6rem 5rem;
  }

  .page {
    max-width: 117rem;
  }

  main {
    display: grid;

    grid-template-areas: "A B B"
    "C C D";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }
}